
/* Fonts
================================ */
body
{
    font-family: 'Muli', sans-serif;
}

span
{
    font-family: 'Lato', sans-serif;
}


/* Page Styles
================================ */

body
{
    overflow-x: hidden;
    background-color: #dadadc;
}

#wrapper
{
    width: auto;
    margin: 0 auto;
}


#top-section
{
    margin: -10% 0 0;
}

/* Title
================================ */

.title
{
    font-size: 1.3rem;
    font-weight: 400;
    width: 250px;
    margin: 0 auto;
}



span
{
    font-size: 2rem;
    font-weight: 100;
}

h1
{
    padding-bottom: 3%;
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: #a50000;
}

/* Profile Picture
================================ */

img
{
    display: block;
    width: 70%;
    margin: 0 auto;
}

.clip-circle
{
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
}

/* About Me Text
================================ */

.about-text
{
    font-size: 1.70rem;
    font-weight: 300;
    width: 65%;
    margin: 0 auto;
    padding: 5% 0 10% 0;
    letter-spacing: 1px;
    line-height: 1.5;

}

a
{

text-decoration: none;
position: relative;
display: inline-block;
color: inherit;
text-shadow: 0 0 1px rgba(255,255,255,0.3);

border-bottom-width: thin;
border-bottom-style: solid;
border-bottom-color: #a50000;


}

a:hover,
a:focus {
	outline: none;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #a50000;
  color: white;
}

/* Footer
================================ */


/* Media Queries
================================ */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px){

  .title{
    font-size: 1.6rem;
    width: 315px;
  }

  .about-text {
    font-size: 1.70em;

  }


}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

   /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
