
/* Page Styles
================================ */

body
{
		font-family: 'Lato', sans-serif;
		
    overflow-x: hidden;

    margin: 0 auto;
    padding: 0;
}

#wrapper
{
    width: auto;
    margin: 0 auto;
}

/* Top Section
================================ */
#top-section
{
    margin: auto 0;
}


.title
{
		font-size: 700;
    width: 196px;
    margin: 0 auto;
}



span
{
    font-size: 1.75rem;
    font-weight: 100;
}

img
{
    display: block;

    width: 50%;
    margin: 0 auto;
}

.clip-circle
{
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
}

.about-text
{
    font-size: 1.25em;
    font-weight: 300;

    width: 77%;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
