
/* Fonts
================================ */
body
{
    font-family: 'Muli', sans-serif;
}

span
{
    font-family: 'Lato', sans-serif;
}


/* Page Styles
================================ */

body
{
    overflow-x: hidden;

    background-color: #dadadc;
}

#wrapper
{
    width: auto;
    margin: 0 auto;
}


#top-section
{
    margin: -15% 0 0;
}

/* Title
================================ */

.title
{
    font-size: 1.3rem;
    font-weight: 400;

    width: 250px;
    margin: 0 auto;

    orphans: 2;
}


span
{
    font-size: 2rem;
    font-weight: 100;
}


h1
{
    padding-bottom: 3%;

    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: #a50000;
}

/* Profile Picture
================================ */

img
{
    display: block;

    width: 70%;
    margin: 0 auto;
}

.clip-circle
{
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
}

/* About Me Text
================================ */

.about-text
{
    font-size: 1.30rem;
    font-weight: 300;
    line-height: 1.5;

    width: 75%;
    margin: 0 auto;
    padding: 5% 0 10% 0;

    letter-spacing: 1px;
}


a
{
    position: relative;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: inherit;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #a50000;
    text-shadow: 0 0 1px rgba(255,255,255,.3);
}


/* Fade */
.hvr-fade
{
    display: inline-block;
    overflow: hidden;

    -webkit-transition-duration: .4s;
            transition-duration: .4s;
    -webkit-transition-property: color, background-color;
            transition-property: color, background-color;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active
{
    color: white;
    background-color: #a50000;
}

/* Footer
================================ */


/* Media Queries
================================ */
@media only screen and (min-width: 400px)
{
    .title
    {
        font-size: 1.4rem;

        width: 270px;
    }

    .about-text
    {
        font-size: 1.4em;

        width: 75%;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
{
    #top-section
    {
        margin: -10% 0 0;
    }

    .title
    {
        font-size: 1.6rem;

        width: 315px;
    }

    .about-text
    {
        font-size: 1.70em;

        width: 80%;
    }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px)
{
    #top-section
    {
        width: 100%;
        height: 768px;
        margin: -34px 0 0;

        background: url('https://s3.amazonaws.com/robbie-site-assets/Robbie_image_larger.jpg') #dadadc no-repeat center center;
        -webkit-background-size: cover ;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }

    .title
    {
        margin: 0 10%;
    }
    img
    {
        display: none;
    }

    .about-text
    {
        width: 40%;
        margin: 0 10%;
    }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
}
